.text-area, .text-field {
	-fx-text-fill: rgba(1,1,1,.5);
    -fx-background-color: rgba(0,0,0,0);
	-fx-border-color: rgba(0,0,0,0);
}

.text-area:hover, .text-field:hover {
	-fx-text-fill: rgba(1,1,1,1);
	-fx-border-color: rgba(54,143,179,.3);
}

.text-field {
    -fx-padding: 0px 0px 0px 6px;
    -fx-border-insets: 0px;
    -fx-background-insets: 0px;
    -fx-prompt-text-fill: black;
}

.text-area .scroll-pane {
    -fx-background-color: transparent;
}

.text-area .scroll-pane .viewport{
    -fx-background-color: transparent;
}


.text-area .scroll-pane .content{
    -fx-background-color: transparent;
}

.text-area .scroll-bar:vertical {
    -fx-opacity: 0;
}

.text-area:hover .scroll-bar:vertical {
    -fx-opacity: .2;
}

.scroll-pane > .viewport {
   -fx-background-color: transparent;
}

.scroll-pane {
   -fx-background-color: transparent;
}

.button {
    -fx-background-color: transparent;
}
.button:hover {
    -fx-background-color: rgba(54,143,179,.3);
}
.button:focused {
    -fx-background-color: transparent;
}
.button:pressed {
    -fx-background-color: transparent;
}

.list-view .scroll-bar:horizontal .increment-arrow,
.list-view .scroll-bar:horizontal .decrement-arrow,
.list-view .scroll-bar:horizontal .increment-button,
.list-view .scroll-bar:horizontal .decrement-button {
    -fx-padding:0;
}

.list-cell {
    -fx-background-color: transparent;
    -fx-padding: 0px;
}

.list-cell:selected {
	-fx-background-color: rgba(0,0,0,0.2)
}

.list-view {
    -fx-background-color: transparent;
}

.list-view .scroll-bar:vertical {
	-fx-background-color: transparent;
}

.list-view .scroll-bar:vertical .thumb,
.list-view .scroll-bar:vertical .increment-arrow,
.list-view .scroll-bar:vertical .decrement-arrow {
	-fx-opacity: 0.2;
}

.list-view .scroll-bar:vertical .increment-button:hover,
.list-view .scroll-bar:vertical .decrement-button:hover {
	-fx-background-color: transparent;
}
