/* Copyright 2019 doubleSlash Net Business GmbH
 * 
 * This file is part of KeepTime.
 * KeepTime is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 * 
 * You should have received a copy of the GNU General Public License
 * along with this program. If not, see <http://www.gnu.org/licenses/>.
 * 
 * JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.text-area {
	-fx-text-fill: rgba(1,1,1,.5);
    -fx-background-color: rgba(0,0,0,0);
	-fx-border-color: rgba(0,0,0,0);
}

.text-area:hover {
	-fx-text-fill: rgba(1,1,1,1);
	-fx-border-color: rgba(54,143,179,.3);
}

.text-area .scroll-pane {
    -fx-background-color: transparent;
}

.text-area .scroll-pane .viewport{
    -fx-background-color: transparent;
}


.text-area .scroll-pane .content{
    -fx-background-color: transparent;
}

.text-area .scroll-bar:vertical {
    -fx-opacity: 0;
}

.text-area:hover .scroll-bar:vertical {
    -fx-opacity: .2;
}

.scroll-pane > .viewport {
   -fx-background-color: transparent;
}

.scroll-pane {
   -fx-background-color: transparent;
}

.button {
    -fx-background-color: transparent;
}
.button:hover {
    -fx-background-color: rgba(54,143,179,.3);
}
.button:focused {
    -fx-background-color: transparent;
}
.button:pressed {
    -fx-background-color: transparent;
}