/* Buttons */
.primary-button {
    -fx-background-color: #00759e;
    -fx-text-fill: white;

    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-border-width: 1px;
    -fx-border-color: #00759e;
}
.secondary-button {
    -fx-background-color: transparent;
    -fx-text-fill: #00759e;

    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-border-width: 1px;
    -fx-border-color: #00759e;
}

.primary-button:hover {
    -fx-background-color: #00A5E1;
}
.secondary-button:hover {
    -fx-background-color: #EFEFEF;
}

/* ColorPicker */
.color-picker {
	-fx-background-color: white;
	-fx-background-radius: 5px;
	-fx-border-color: #00759e;
	-fx-border-radius: 5px;
}

/* CheckBox */
.check-box .box{
	-fx-background-color: white;
	-fx-background-radius: 2px;
	-fx-border-color: #00759e;
	-fx-border-radius: 2px;
}
.check-box:selected .box {
    -fx-background-color: #00759e;
}
.check-box:selected .mark {
    -fx-background-color: white;
}
.check-box:disabled .box {
    -fx-background-color: #c6c6c6;
    -fx-border-color: #c6c6c6;
}

/* TextArea */
.text-area {
    -fx-background-radius: 8px;
    -fx-border-radius: 8px;
    -fx-border-color: #00759e;
    -fx-border-width: 1px;
}
.text-area .content {
    -fx-background-radius: 8px;
    -fx-border-radius: 8px;
}
.text-area .viewport {
    -fx-background-radius: 8px;
    -fx-border-radius: 8px;
}
/* TextField */
.text-field {
    -fx-background-radius: 8px;
    -fx-border-radius: 8px;
    -fx-border-color: #00759e;
    -fx-border-width: 1px;
}
.text-field:focused {
    -fx-border-color: #0056b3;
}
/* Spinner */
.spinner {
    -fx-background-radius: 8px;
    -fx-border-radius: 8px;
    -fx-border-color: #00759e;
    -fx-border-width: 1px;
}
/* > Text-Field (reset default style) */
.spinner > .text-field {
    -fx-background-radius: 8 0 0 8;
    -fx-background-color: white;
    -fx-border-width: 0px;
}
.spinner > .increment-arrow-button {
    -fx-background-radius: 0 8 0 0;
}
.spinner > .decrement-arrow-button {
    -fx-background-radius: 0 0 8 0;
}
/* DatePicker */
/* > Spinner (reset to default style) */
.date-picker-popup .spinner {
    -fx-border-color: transparent; /* Remove custom border */
    -fx-border-width: 0px;
    -fx-border-radius: 0px;
    -fx-background-color: transparent;
}

/* HyperLink */
.hyperlink {
    -fx-text-fill: #00759e;
}
.hyperlink:hover {
    -fx-text-fill: #00A5E1;
}